#cursor-text-svg {
    animation-name: ckw;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cursor-dot-outline {
    background: linear-gradient(to right top, #3f5efb, #aa47dc, #dc30b6, #f52e8f, #fc466b);
    border-radius: 50%;
}

@keyframes ckw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(2000deg);
    }
}
