@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=VT323&display=swap');@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --crt-red: rgb(218, 49, 49);
  --crt-green: rgb(112, 159, 115);
  --crt-blue: rgb(40, 129, 206);
}

/* Design Switch */
/*:root * {*/
/*  @apply border border-red-600 opacity-100;*/
/*}*/

@theme {
  --breakpoint-3xl: 120rem;
  --cursor-mail: url(/src/assets/mail.svg), pointer;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-gabarito: "Gabarito", sans-serif;
  --font-vt323: var(--font-vt323, 'VT323', monospace);
  --font-inter: var(--font-inter, 'Inter', sans-serif);
  --font-instrument: var(--font-instrument, 'Instrument Serif', serif);
  --text-shadow-crt: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5),
  -1px -1px rgba(0, 255, 255, 0.4);
  --drop-shadow-crt: 0 0 0.04em currentColor, 1px 1px rgba(255, 0, 255, 0.2),
  -1px -1px rgba(0, 255, 255, 0.4);
}

/* Test Border */
@utility tb {
  @apply border border-red-600;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility wnm-gradient {
    @apply bg-gradient-to-tl from-[#3F5EFB] to-[#FC466B]
}

@utility cup-gradient {
    @apply bg-gradient-to-l from-[#16a085]/40 to-[#f4d03f]/40
}

@utility pando-gradient {
    @apply bg-gradient-to-l from-[#E3FDF5] to-[#FFE6FA]
}

@utility druid-gradient {
    @apply bg-gradient-to-tl from-[#363C48] to-[#1B1B19]
}

@utility naturalist-gradient {
    @apply bg-gradient-to-tr from-[#d6e9d4] to-[#ffffff]
}

@utility glassroots-gradient {
    @apply bg-gradient-to-r from-[#ffffff] to-[#27aae1]
}

@utility glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.crt {
  background-color: rgb(25, 25, 30);
  text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5),
  -1px -1px rgba(0, 255, 255, 0.4);
  position: relative;
  &:before,
  &:after {
    content: "";
    transform: translateZ(0);
    pointer-events: none;
    mix-blend-mode: overlay;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &:before {
    background: repeating-linear-gradient(
            var(--crt-red) 0px,
            var(--crt-green) 2px,
            var(--crt-blue) 4px
    );
  }
  &:after {
    background: repeating-linear-gradient(
            90deg,
            var(--crt-red) 1px,
            var(--crt-green) 2px,
            var(--crt-blue) 3px
    );
  }
}

.crt-off {
  animation: turn-off 1s ease-in-out forwards;
}

.crt-on {
  animation: turn-on 3s ease-in-out forwards;
}

@keyframes turn-on {
  0%{
    transform:scale(1,0.8) translate3d(0,0,0);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:1;
  }
  3.5%{
    transform:scale(1,0.8) translate3d(0,100%,0);
  }

  3.6%{
    transform:scale(1,0.8) translate3d(0,-100%,0);
    opacity:1;
  }

  9%{
    transform:scale(1.3,0.6) translate3d(0,100%,0);
    -webkit-filter:brightness(30);
    filter:brightness(30);
    opacity:0;
  }

  11%{
    transform:scale(1,1) translate3d(0,0,0);
    -webkit-filter:contrast(0) brightness(0) ;
    filter:contrast(0) brightness(0);
    opacity:0;
  }

  100%{
    transform:scale(1,1) translate3d(0,0,0);
    -webkit-filter:contrast(1) brightness(1.2) saturate(1.3);
    filter:contrast(1) brightness(1.2) saturate(1.3);
    opacity:1;
  }
}

@keyframes turn-off{
  0% {
    transform:scale(1,1.3) translate3d(0,0,0);
    -webkit-filter:brightness(1);
    filter:brightness(1);
    opacity:1;
  }

  60% {
    transform:scale(1.3,0.001) translate3d(0,0,0);
    -webkit-filter:brightness(10);
    filter:brightness(10);
  }

  100% {
    animation-timing-function:cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform:scale(0.000,0.0001) translate3d(0,0,0);
    -webkit-filter:brightness(50);
    filter:brightness(50);
  }
}